{% extends "base.html" %}

{% block content %}
     {% load static %} <link rel="stylesheet" href="{% static '/css/change_password.css' %}">
    <img src="{% static '/media/bgw.jpg' %}" class="d-block w-100" alt="...">

    <br/><br/>
    <div class="container password">
        <form method="post" id="data" class="custom_form">
            {% csrf_token %}
             <h1 class="text-center">Change Password </h1>
            {{ form.as_p }}
            <button type="submit" >Change password</button>
        </form>
    </div>
{% endblock %}