{% extends "base.html" %}

{% block content %}
     {% load static %} <link rel="stylesheet" href="{% static '/css/change_password.css' %}">
    <img src="{% static '/media/bgw.jpg' %}" class="d-block w-100" alt="...">
    <div class="container password">
        <form method="post" id="data" class="custom_form">
            {% csrf_token %}
             <h1 class="text-center">Change Password </h1>
            {{ form.as_p }}
            <button type="submit" >Change password</button>
        </form>
    </div>
    <script>

    {#PLace Holders in JavaScript Vanilla#}
    //Query All input fields
    let form_fields = document.getElementsByTagName('input')
        form_fields[2].placeholder = 'Email..';
        form_fields[3].placeholder = 'Enter password...';
        form_fields[4].placeholder = 'Re-enter Password...';

        for (let field in form_fields) {
            form_fields[field].className += ' form-control'
        }
</script>

{% endblock %}