.password-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 514px);
}

h1 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}
.player {
    display: none;
}