{% extends "base.html" %}

{% block content %}
     {% load static %} <link rel="stylesheet" href="{% static '/css/cancel.css' %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 m-6">
                <div class="message-box _failure d-flex justify-content-center align-items-center flex-column">
                {#<i class="fas fa-circle-exclamation"></i>#}
                {#<i class="fa fa-check-circle" aria-hidden="true"></i>#}
                    <img src="{% static '/media/fail.jpg' %}" class="d-block w-25 align-self-center" alt="Fail">
                    <h2> Your payment failed </h2>
                    <p> Try again later <br>
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}