{% extends "base.html" %}

{% block content %}
     {% load static %} <link rel="stylesheet" href="{% static '/css/success.css' %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 m-6">
                <div class="message-box _success d-flex justify-content-center align-items-center flex-column">
                {#<i class="fa fa-check-circle" aria-hidden="true"></i>#}
                    <img src="{% static 'media/success.png' %}" class="d-block w-25 align-self-center" alt="Fail">
                    <h2> Your payment was successful </h2>
                    <p> Thank you for your payment. we will <br>
                        be in contact with more details shortly </p>
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}