{% load static %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/subscription.css' %}">
    <div class="container">
        <h2>Choose your subscription plan</h2>
        <div class="price-row">
            <div class="price-col">
                <p>Starter</p>
                <h3>19$ <span>/ month</span></h3>
                <ul>
                    <li>1 Account</li>
                    <li>10 GB Disk Space</li>
                    <li>Free Email Address</li>
                </ul>
                <button>Add To Cart</button>
            </div>
            <div class="price-col">
                <p>Advanced</p>
                <h3>19$ <span>/ month</span></h3>
                <ul>
                    <li>1 Account</li>
                    <li>10 GB Disk Space</li>
                    <li>Free Email Address</li>
                </ul>
                <button>Add To Cart</button>
            </div>
            <div class="price-col">
                <p>Premium</p>
                <h3>19$ <span>/ month</span></h3>
                <ul>
                    <li>1 Account</li>
                    <li>10 GB Disk Space</li>
                    <li>Free Email Address</li>
                </ul>
                <button>Add To Cart</button>
            </div>
        </div>
    </div>
{% endblock %}





{#{% load static %}#}
{##}
{#{% block content %}#}
{##}
{##}
{#    <div>#}
{#        Hello#}
{#    </div>#}
{##}
{#{% endblock %}#}