{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static '/css/your_playlist.css' %}">
    <img src="{% static '/media/bgw.jpg' %}" class="d-block w-100" alt="...">
    <div class="container playlist">
        <div class="playlist_container">
            <table class="player-list container-table">
                <thead>
                <tr>
                    <th class="containerTable-lblTitle">TITLE</th>
                    <th class="containerTable-lblTitle">ARTIST</th>
                    <th class="containerTable-lblTitle">DURATION</th>
                    <th class="containerTable-lblTitle">PLAY</th>
                    <th class="containerTable-lblTitle">DELETE</th>
                </tr>
                </thead>
                {% for song in playlist.songs %}
                    <tbody class="containerTable-body">
                    <tr>
                        <td class="containerTable-lblValue">{{ song.title }}</td>
                        <td class="containerTable-lblValue">Maria Anders</td>
                        <td class="containerTable-lblValue">03:24</td>
                        <td class="containerTable-lblValue">
                            <i onclick="play('{{ forloop.counter0 }}');" class="fa fa-play play-pause paused"></i>
                        </td>
                        <td class="containerTable-lblValue"><a href="{% url 'delete' song.id %}">Delete</a></td>
                    </tr>
                    </tbody>
                    <audio id="{{ forloop.counter0 }}" src="
                            {% if song.file and request.user.is_authenticated %}{{ song.file.url }}{% elif song.sample and not request.user.is_authenticated %}{{ song.sample.url }}{% endif %}">
                    </audio>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock %}
